

$fondo: #1A1817;
$borde: #404040;
$letra: #EEE;
$marron: #272423;
$gris: #4D4D4D;
$amarillo: #D99536;
$topheader: #201E1D;
$grisclaro: #666;
$violeta: #A336D9;
$azul: #36A3D9;
$verde: #30BF3C;
$rojo: #ff2222;
@mixin jover{
	color: $marron;
	-webkit-transition: all .50s linear;	
	-moz-transition: all .50s ease-in-out;
}
@mixin borde_box{
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;  
}
@mixin link_blanco{
	color: $letra;
	-webkit-transition: color .70s linear;	
	-moz-transition: color .70s linear;
}


body{
	background-color: $fondo;

}
.container{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: $marron;
	color: $letra;
	text-decoration: none;
	h2{
		border-top: 1px dashed $borde;
		border-bottom: 1px dashed $borde;
		text-align: center;
		font-size: 2.5em;		
		font-weight: bold;
		font-style: Arial;		
		padding: 0px;
		a{			
			text-align: left;
			padding: 15px 0px 15px 100px;			
			text-decoration: none;
			display: block;
			width: 100;
			position: relative;			
		}		

	}
	
	article{
		section{
			color: $grisclaro;
			font-weight: bold;
			margin-top: 60px;
			font-size: 1.4em;
			text-decoration: none;
			ul{
				list-style-position: outside;
				list-style-type: none;
			}
			li{
				border-top: 1px solid $gris;
				padding: 10px 0 10px 0;
				font-size: .6em;
				font-weight: normal;
				p{
					color: $letra;
				}

			}
			span{
				float: right;
			}
			a{
				text-decoration: none;
				color: $grisclaro;			
			}
			a:hover{
				color: #eee;
				-webkit-transition: color .25s linear;
				-moz-transition: color .25s linear;
			}
		}
		padding-left: 100px;
		padding-right: 100px;		
		padding-bottom: 20px;
		font-size: 1.1em;
		p{
			line-height: 1.6em;
			font-family: Verdana;
		}		
	}
	.amarillo{		
		a{
			color: $amarillo;			
			transition: all .70s ease-in;
		}		
		a:hover{			
			background-color: $amarillo;
			@include jover;
		}
	}
	
	.violeta{		
		a{
			color: $violeta;			
			transition: all .70s ease-in;
		}		
		a:hover{			
			background-color: $violeta;
			@include jover;
		}		
	}
	
	.azul{		
		a{
			color: $azul;			
			transition: all .70s linear;
		}		
		a:hover{			
			background-color: $azul;
			@include jover;
		}
	}
	
	.verde{		
		a{
			color: $verde;
			transition: all .70s ease-in;
		}		
		a:hover{			
			background-color: $verde;			
			@include jover;
		}
	}
	
	.rojo{		
		a{
			color:  $rojo;			
			transition: all .70s ease-in;
		}		
		a:hover{			
			@include jover;
			background-color: $rojo;
		}
	}
	
	.form{
		padding: 15px 100px 15px 100px;
		font-size: 1.4em;
		li{
			color: $rojo;
		}

		.field textarea {			
			vertical-align: top;			
			margin: 10px;
			border: 2px solid $amarillo;
			background-color: $gris;
			@include borde_box;
  			color: $letra;  			
  			-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  			-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		}	
		label{			
			color: $amarillo;
			padding: 4px;
			margin-bottom: 10px;
			

		}		
		.field{
			margin: 10px;
		}
		input{
			margin: 10px;
			border: 2px solid $amarillo;
			background-color: $gris;
			@include borde_box;
  			color: $letra;
  			height: 30px;
  			-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  			-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		}
		.field_with_errors input, .field_with_errors textarea{
			border: 2px solid $rojo;
			@include borde_box;
		}

	}
	.creado{
			color: $gris;
			padding-left: 100px;
			margin-bottom: 5px;
			span{
				font-weight: bold;
				color: $grisclaro;
				margin-right: 100px;
				float: right;
			}
		}
		/*  Parrafos */ 
	.parrafo_show{
		line-height: 1.6em;
		font-family: Verdana;
		padding-top: 5px;		
		a{
			background-color: $marron;
			text-decoration: none;
		}
		a:hover{
			background-color: $marron;
			@include link_blanco;
		}
	}
	.comentarios_in{
		ul{
			height: auto;
			border-left: 1px solid $grisclaro;

		}
		b{
			color: $letra;
			float: right;
		}
		li{
			
			box-shadow: 0 3px 3px rgba(0,0,0,.7);			
			padding: 10px 30px 10px 30px;			
			margin: 10px 20px 10px 20px;			
			p{
				word-wrap: break-word;
			}
		}
	}
	.comentario_form{
		text-align: center;
		vertical-align: top;
		.field{
			margin: 15px;
		}
		label{
			color: $amarillo;
			display: block;
			margin: 10px 0px 5px 10px;		
			text-shadow: 0 4px 4px rgba(0,0,0,.8);	
		}
		textarea{
			border-radius: 12px;
			border: 1px solid $fondo;
		}
		textarea:focus{
			box-shadow: 0 5px 5px rgba(0, 0, 0, .6);
			border: 3px solid $amarillo;
			transition: all .4s ease-in;
		}
		input{
			border: 1px solid $fondo;
			height: 20px;
			border-radius: 8px;
			
		}
		input:focus{
			box-shadow: 0 5px 5px rgba(0, 0, 0, .6);
			border: 2px solid $amarillo;
			transition: all .4s ease-in;
		}
		.actions{
			margin-left: 25px;
		}
		.boton{			
			background-color: $amarillo;
			border: 1px solid $fondo;
			height: 30px;
			padding-bottom: 10px;
			
			color: $letra;
			font-size: 1em;
			box-shadow: 0 5px 5px rgba(0, 0, 0, .6);
			text-shadow: 0 4px 4px rgba(0,0,0,.8);
			cursor: pointer;
		}
	}
	.home{
		margin-top: 10px;
		display: inline-block;
		a{				
			background-color: $fondo;
			text-shadow: 0 4px 4px rgba(0,0,0,.8);
			box-shadow: 0 4px 4px rgba(0,0,0,.8);
			padding: 4px;
			font-size: 1.4em;
			text-decoration: none;
			border-radius: 7px;
			line-height: 1.4em;
		}		
	}	
}